* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

.psrGame .container {
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1f3757 0%, #131537 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.psrGame__scoreboard {
  width: 700px;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 50px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.psrGame__titleImg {
  margin-left: 30px;
}

.psrGame__score {
  width: 150px;
  height: 114px;
  background-color: white;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.psrGame__score p {
  color: #2a45c2;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2.5px;
}

.psrGame__userScore {
  color: #565468;
  font-size: 56px;
}

.psrGame__signs {
  width: 476px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background: url(../assets/triangle.png) no-repeat center;
}

.psrGame__signs .hand {
  cursor: pointer;
}

.psrGame__signs .hand:hover {
  transform: translate3d(0px, -8px, 0px);
  transition: all 0.25s;
}

.psrGame__paper {
  margin-right: 20px;
}

.psrGame__scissors {
  margin-left: 20px;
}

.psrGame__contest {
  width: 900px;
  display: flex;
  margin-top: 50px;
}

.psrGame__contest > div {
  flex: 1;
}

.psrGame__contest .psrGame__handImg {
  display: flex;
  justify-content: center;
}

.psrGame__subHead {
  color: white;
  font-size: 20px;
  margin: 20px 0 50px 0;
  text-align: center;
}

.psrGame__handImg img {
  width: 275px;
  height: 275px;
}

.psrGame__refree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.psrGame__decision > .psrGame__subHead {
  font-size: 56px;
}

.psrGame__newGame {
  background: white;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  color: hsl(229deg, 25%, 31%);
  transition: all 0.15s;
}

.psrGame__newGame:hover {
  background: bisque;
  transform: translate3d(0px, -2px, 0px);
}